<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ asset.name }}</title>
    {% for css in stylesheets %}
    <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
    {% for css in stylesheets_dark_mode %}
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ css }}">
    {% endfor %}
</head>

<body>
    <script type="application/ld+json">{{ asset | tojson }}</script>
    <article>
        <header>
            <div class="head">
                <h1>{{ asset.name }}</h1>
                <h2 id="subtitle">
                    {{ asset["dcterms:type"] | capitalize }}
                    (<code>{{ asset.encodingFormat | default("application/octet-stream", true) }}</code>):
                    {{ asset["dcterms:title"] | default("--", true) }}
                </h2>
            </div>
        </header>
        <main>
            <section>
                <img src="/-/asset/preview?size=600&resource={{ asset['@id'] }}" id="preview"
                    alt="Preview: {{ asset.description }}" width="600" />
            </section>
            <section>
                <h2>Metadata</h2>
                <dl id="metadata">
                    <dt>URL identifier (URI)</dt>
                    <dd><a href="{{ asset['@id'] }}">{{ asset['@id'] }}</a></dd>
                    <dt>Identifier</dt>
                    <dd>{{ asset.identifier }}</dd>
                    <dt>Type</dt>
                    <dd>{{ asset["dcterms:type"] }}</dd>
                    <dt>Proxied URL</dt>
                    <dd><a href="{{ asset.mainEntityOfPage }}">{{ asset.mainEntityOfPage }}</a></dd>
                    <dt>Proxy document URL</dt>
                    <dd><a href="{{ asset.url }}">{{ asset.url }}</a></dd>
                    <dt>Filename</dt>
                    <dd>{{ asset.name }}</dd>
                    <dt>Title</dt>
                    <dd>{{ asset["dcterms:title"] }}</dd>
                    <dt>Description</dt>
                    <dd>{{ asset.description }}</dd>
                    <dt>Keywords</dt>
                    {%- for k in asset.keywords -%}
                    <dd>{{ k }}</dd>
                    {%- endfor -%}
                    <dt>Encoding format (MIME-type)</dt>
                    <dd>{{ asset.encodingFormat }}</dd>
                    <dt>File size</dt>
                    <dd>{{ asset.fileSize | filesizeformat }}</dd>
                    <dt>dateCreated</dt>
                    <dd>{{ asset.dateCreated }}</dd>
                    <dt>dateModified</dt>
                    <dd>{{ asset.dateModified }}</dd>
                </dl>
            </section>
            <section>
                <h2>JSON-LD representation</h2>
                <code id="json"><pre>{{ asset | tojson(indent=4) }}</pre></code>
            </section>
        </main>
    </article>
</body>

</html>
