<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ asset.name }}</title>
</head>

<body>
    <script type="application/ld+json">{{ asset | tojson }}</script>
    <article>
        <header>
            <h1>{{ asset.name }}</h1>
        </header>
        <main>
            <section>
                <h2>Metadata</h2>
                <dl>
                    <dt>Identifier</dt>
                    <dd>{{ asset.identifier }}</dd>
                    <dt>Type</dt>
                    <dd>{{ asset.type }}</dd>
                    <dt>Proxied URL</dt>
                    <dd><a href="{{ asset.about }}">{{ asset.about }}</a></dd>
                    <dt>Proxy URL</dt>
                    <dd><a href="{{ asset.url }}">{{ asset.url }}</a></dd>
                    <dt>Name</dt>
                    <dd>{{ asset.name }}</dd>
                    <dt>Description</dt>
                    <dd>{{ asset.description }}</dd>
                    <dt>Keywords</dt>
                    {%- for k in asset.keywords -%}
                    <dd>{{ k }}</dd>
                    {%- endfor -%}
                    <dt>File size</dt>
                    <dd>{{ asset.fileSize | filesizeformat }}</dd>
                    <dt>dateCreated</dt>
                    <dd>{{ asset.dateCreated }}</dd>
                    <dt>dateModified</dt>
                    <dd>{{ asset.dateModified }}</dd>
                </dl>
            </section>
            <section>
                <h2>JSON-LD representation</h2>
                <code><pre>
{{ asset | tojson }}
</pre></code>
            </section>
        </main>
    </article>
</body>

</html>
